<!DOCTYPE html>
<html lang="ja" ng-app>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="社員インタビュー">
    <meta name="chromesniffer" id="chromesniffer_meta" content="{'jQuery':'1.11.3'}">
    <title>社員インタビュー</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="./js/default.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <link rel="stylesheet" href="./js/default.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body style="padding: 70px 0px;">
    <div ng-controller="mainCtrl">
      <div class="container">
          <div ng-repeat="conversation in target.conversations">
            <div style="width: 80%;" class="pull-right">
              <span class="well well-sm pull-right" ng-bind="conversation.question"></span>
            </div>
            <div ng-repeat="anwser in anwsers[$index]">
              <div style="width: 80%;" class="pull-left">
                <span class="alert alert-info pull-left" ng-bind="anwser"></span>
              </div>
            </div>
          </div>
          anwsers: {{anwsers|json}}
          <br />
          target.conversations: {{target.conversations|json}}
          <!-- <div class="pull-right" style="width: 80%;" ng-repeat="question in target.questions">
            <span class="alert alert-info pull-right" ng-bind="question"></span>
          </div> -->
          <!-- <div class="well well-lg" ng-repeat="question in target.questions">
            <div ng-bind="question">
            </div>
          </div> -->
        <nav class="navbar navbar-default navbar-fixed-top" style="height: 60px; padding: 5px;">
          <div class="container-fluid">
            <img alt="{{target.name}}" ng-src="./image/{{target.picture}}" width=50>

            <div class="dropdown pull-right">
              <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify"></span></button>
              <ul class="dropdown-menu">
                <li ng-repeat="staff in staffs"><a ng-click="changeStaff(staff)"><div ng-bind="staff.name"></div></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
          </div>
                  <!-- <button class="btn btn-lg btn-default text-right"><span class="glyphicon glyphicon-align-justify"></span></button> -->
        </nav>
        <nav class="navbar navbar-default navbar-fixed-bottom" style="height: 60px; padding: 5px;">
          <div class="container-fluid">
            <div class="input-group input-group-lg">
              <!-- <div class="input-group-btn dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">ゆうすけさん</a></li>
                  <li><a href="#">しょうへいさん</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </div> -->
              <input type="text" class="form-control" placeholder="インタビューしよう" ng-model="question">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="sendQuestion()"><span class="glyphicon glyphicon-share-alt"></span></button>
              </span>
            </div>
          </div><!-- /.container-fluid -->
        </nav>

      </div>
    </div>
  </body>
</html>
